@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

body {
  background: hsl(var(--neutral-3));
  color: hsl(var(--text-12));
}
